.BackIcon{
    margin-left: 1rem;
}

.SaveIcon{
    margin-right: 1rem;
}

.TrailorPlayer{
    position: relative;
    top: 40px;
    width: 95%;
    height: 40%;
    left: 2%;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    border: none;
    background: #00000080;
}

#MenuIcon{
    transform: rotate(90deg);
}

.HolderSections{
    position: relative;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: #00000080;
    border-radius: 20px 20px 0px 0px;
    display: block;
}

.DetailsHolders{
    position: relative;
    width: 95%;
    height: 50%;
    border-radius: 20px;
    left: 2%;
    background: #00000080;
    display: inline-flex;
}

.SectionsHolders{
    position: relative;
    width: 30%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: inline-flex;
}

#Catergory{
    position: absolute;
    bottom: 5%;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

#SectionsImages{
    width: 50px;
    height: 50px;
}