.Messagediv{
    position: absolute;
    width: 100%;
    height: auto;
    background: transparent;
    bottom: 0;
    display: none;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #00808080 ;
}