@import url('./CONNECTION/Connection.css');

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    transition: 1s;
    color: white;
    list-style: none;
    text-decoration: none;
}

body{
    background: #5C829A;
    overflow: hidden;
    display: block;
}

div{
    position: fixed;
    background: #5C829A;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

input{
    position: relative;
    width: 95%;
    background: #00000080;
    min-height: 16px;
    height: 32px;
    max-height: 32px;
    left: 2%;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    color: white;
    display: block;
}

button{
    position: relative;
    width: 95%;
    left: 2%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #00000080;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

h1{
    position: relative;
    text-align: center;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
}

img{
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}