.MOVIESIMAGE{
    position: relative;
    width: 30%;
    height: 90%;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

header{
    position: absolute;
    width: 95%;
    height: 40px;
    background: #00000080;
    top: 1%;
    margin-bottom: 0.5rem;
    left: 2%;
    border-radius: 50px;
    display: inline-flex;
}
