.WindowsHeader{
    position: absolute;
    width: 100%;
    height: 50px;
    background: #00000080;
    display: inline-flex;
    overflow: hidden;
}

.WindowsrightHolder{
    position: relative;
    display: inline-flex;
    width: 30%;
    height: auto;
    background:transparent;
    margin-left: auto;
    margin-right: 0rem;
    border-radius: 0px 0px 0px 0px;
}


.WindowsLight{
    display: block;
}

.WindowsDark{
    display: none;
}

.WindowsInputHolder{
    position: relative;
    background: #00000080;
    width: 70%;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 10%;
    border-radius: 20px;
    text-align: left;
    display: block;

}

.WindowsLeftDivHolder{
    left: 0;
    background: #00000080; ;
    width: 100px;
    height: auto;
    bottom: 0;
    top: 52px;
    display: block;
    overflow-y: auto;
}

.HomeIcons{
    position: relative;
    width: 30px;
    height: auto;
    margin-left: 1.8rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.WindowsDataDiv{
    right: 0;
    background: #00000080; ;
    width: 93%;
    height: auto;
    bottom: 0;
    top: 52px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}