.BackIcon{
    margin-left: 1rem;
}

.LightModeIcon{
    margin-right: 1rem;
}

.UserAccountDetails{
    position: relative;
    width: 95%;
    left: 2%;
    border-radius: 20px;
    height: 30%;
    background: #00000080;
    top: 60px;
    margin-bottom: 4rem;
}

.DarkModeIcon{
    margin-right: 1rem;
    display: none;
}

.ProfileImage{
    position: absolute;
    width: 45%;
    height: 90%;
    left: 1%;
    margin-top: 1rem;
    display: block;
    border-radius: 20px;
}

.ProfileUserImage{
    position: absolute;
    width: 100%;
    height: 100%;
}

.UserDetailsHolder{
    position: absolute;
    width: 50%;
    height: 90%;
    right: 1%;
    margin-top: 1rem;
    display: block;
    border-radius: 20px;
}

.NameHolders{
    width: 100%;
    position: relative;
    padding: 1rem;
    word-wrap: break-word;
    font-size: 15px;
    display: block;
    text-align: left;
}

#UserLoading{
    top: 40%;
    left: 40%;
}