.MoviesDetailsdiv{
    position: absolute;
    top: 50px;
    height: auto;
    bottom: 0;
    background: #00000080;
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}