.Message{
    position: relative;
    font-size: 15px;
    font-style: italic;
}

.LoadingIcon{
    position: relative;
    animation: spin 2s linear infinite;
    -webkit-animation: spin  2s linear infinite ;
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    
}