.AppName{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.Message{
    position: relative;
    text-align: center;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

#LoadingIcon{
    width: 15px;
    height: 15px;
}