.ChatDivMessages{
    position: absolute;
    width: 95%;
    left: 2%;
    border-radius: 20px;
    height: auto;
    bottom: 0;
    background: #00000080;
    top: 60px;
    margin-bottom: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
}


.RequestMovieInput{
    position: absolute;
    bottom: 0;
    width: 70%;
    margin-bottom: 1rem;
}

.RequestSendButton{
    position: absolute;
    bottom: 0;
    height: 32px;
    width: 20%;
    left:  77%;
    margin-bottom: 1rem;
}

.AdminName{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    right:  5%;
    text-align: right;
    color: blue;
}

.AdminComment{
    position: relative;
    width: 95%;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    text-align: right;
    right:1%;
    font-style: italic; 
    word-wrap: break-word;
    color: blue;
}