.SelectCountry{
    width: 95%;
    position: relative;
    height: 32px;
    max-height: 32px;
    display: inline-flex;
}

.SelectCountryDiv{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: transparent;
    height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.CountryDiv{
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0;
    background: #00000080;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.SelectCountryName{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    color: gainsboro;
    margin-left: 0.5rem;
    font-size: 16px;
}

.AppIcon1{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1rem;
}

.countrycode{
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;

}

.SelectCountryPicker{
    width: 95%;
    position: relative;
    height: 32px;
    max-height: 32px;
    display: inline-flex;
}

.telephoneDiv{
    width: 95%;
    position: relative;
    height: 32px;
    max-height: 32px;
    display: inline-flex;
    background: #00000080;
    left: 2%;
    border-radius: 5px;
}

#TelephoneHolder{
    position: relative;
    width: 90%;
    min-height: 16px;
    height: 32px;
    max-height: 32px;
    background: #00000080;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
    margin-left: auto;
    left: 2%;
    border-radius: 5px;
    border: none;
    text-align: left;
    padding-left: 1%;
    color: white;
}