.BackIcon{
    margin-right: auto;
    margin-left: 0.5rem;
}

header{
    position: absolute;
    top: 0;
    width: 95%;
    height: 40px;
    background: #00000080;
    left: 2%;
    margin-top: 0.5rem;
    border-radius: 50px;
    display: inline-flex;
}

.SaveIcon{
    margin-left: auto;
    margin-right: 0.8rem;
}

.TrailorHolder{
    position: relative;
    top: 8%;
    background: #00000080;
    height: 40%;
    left: 2%;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.Player{
    width: 100%;
    height: 100%;
}

.DetailsHolder{
    position: absolute;
    bottom: 0;
    background: #00000080;
    top: 60%;
    border-radius: 20px 20px 0px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.MovieName{
    position: relative;
    font-size: 18px;
    font-style: italic;
}

.DetailsDisplay{
    position: relative;
    width: 100%;
    height: 25%;
    background: transparent;
    border-radius: 20px 20px 0px 0px;
    display: inline-flex;
}

.Holders{
    position: relative;
    width: 35%;
    height: 70%;
    background: #00000080;
    border-radius: 10px;
    display: inline-flex;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.Sections{
    position: absolute;
    bottom: 1%;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.menuicon{
    transform: rotate(90deg);
}