.ModeIcon{
    margin-right: 1rem;
}

.UserDetails{
    position: relative;
    width: 95%;
    height: 40%;
    background: #00000080;
    left: 2%;
    top: 10%;
    border-radius: 10px;
    display: block;
    margin-bottom: 1rem;
}

.ProfileImageHolder{
    position: absolute;
    width: 40%;
    height: 70%;
    top: 5%;
    left: 1%;
    display: block;
    background: #00000080;
    border-radius: 20px;
}

.ProfileImage{
    position: relative;
    width: 100%;
    height: 100%;
}

.UserDetailsHolder{
    position: absolute;
    right: 1%;
    height: 70%;
    width: 55%;
    border-radius: 10px;
    top: 5%;
    display: block;
}

.EmailHolder{
    position: absolute;
    width: 98%;
    height: 50px;
    background: #00000080;
    bottom: 1%;
    left: 1%;
    border-radius: 10px;
    display: inline-flex;
}

#EmailHolder{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: auto;
    font-style: italic;
}

#UserLoading{
    top: 50%;
}

#UserName{
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
    margin-left: 1rem;
}

.FunctionsHolders{
    position: absolute;
    width: 100%;
    background: #00000080;
    height: 49%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#TagName{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;
}

#TagImage{
    position: absolute;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    right: 1%;
    top: 0;
}