footer{
    position: absolute;
    width: 95%;
    height: 40px;
    background: #00000080;
    bottom: 0;
    margin-bottom: 0.5rem;
    left: 2%;
    border-radius: 50px;
    display: inline-flex;
}

.HomeDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000080;
    overflow-y: auto;
    overflow-x: hidden;
}

.HomeDivs{
    position: relative;
    width: 95%;
    left: 2%;
    border-radius: 10px;
    height: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #00000080;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.RecommendedDiv{
    position: relative;
    width: 95%;
    left: 2%;
    border-radius: 10px;
    height: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #00000080;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.SectionHolders{
    position: absolute;
    width: 100%;
    height: 50px;
    background: #00000080;
    display: inline-flex;
}

.RecommendedHeaders{
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.SeeMoreHeaders{
    position: relative;
    font-size: 16px;
    margin-right: 0.2rem;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: #00000080;
    padding: 0.5rem;
    border-radius: 10px;
}

.MoviesHolder{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
    background: #00000080;
}