footer{
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 40px;
    background: #00000080;
    left: 2%;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    display: inline-flex;
}

.HomeDiv{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    background: #00000080;
    overflow-y: auto;
    overflow-x: hidden;
}

.AdvertsDiv{
    position: relative;
    width: 98%;
    height: 30%;
    margin-top: 1%;
    left: 1%;
    border-radius: 10px;
    background: #00000080;
    overflow-y: hidden;
    overflow-x: auto;
    display: inline-flex;
}

.RecommendedDivs{
    position: relative;
    width: 98%;
    height: 40%;
    margin-top: 1%;
    left: 1%;
    border-radius: 10px;
    background: #00000080;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block; 
}

.RecommendedHolder{
    position: absolute;
    width: 100%;
    height: 30px;
    background: #00000080;
    display: inline-flex;
}

.RecommendedHeaders{
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0.5rem;
}

.SeeMoreHeaders{
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0.5rem;
}

.MoviesHolder{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    top: 30px;
    background: #00000080;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
}