.TrailorPlayer{
    position: absolute;
    width: 95%;
    height: 30%;
    background: #00000080;
    left: 2%;
    top: 45px;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.Player{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#MenuIcon{
    transform: rotate(90deg);
}

.WatchMovieButton{
    position: absolute;
    top: 40%;
}

.MovieDetailsHolder{
    position: absolute;
    top: 50%;
    background: #00000080;
    border-radius: 20px 20px 0px 0px;
}

.DetailsDiv{
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    background: transparent;
}
 
.CloseIcon{
    position: absolute;
    background: #00000080;
    padding: 3% ;
    border-radius: 0px 0px 25px 25px;
    left: 45%;
    top: 0;
}

.MovieName{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
}


.SegegmetsHolders{
    position: relative;
    width: 100%;
    top: 20px;
    height: 30%;
    display: inline-flex;
    background: #00000080;
}

.HolderSectionsMovies{
    position: relative;
    width: 30%;
    height: 80%;
    border-radius: 20px;
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background: #00000080;
    border: 1px solid #00808080 ;
}

.CatergoryHolder{
    position: relative;
    width: 30px;
    height: 30px; 
}

.CatergoryName{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.MoviePlayer{
    position: absolute;
    width: 100%;
    height: 100%;
}