.TrailorPlayer{
    position: absolute;
    width: 95%;
    height: 30%;
    background: #00000080;
    left: 2%;
    top: 45px;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.Player{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#MenuIcon{
    transform: rotate(90deg);
}