.TrailorPlayer{
    position: absolute;
    width: 95%;
    height: 30%;
    background: #00000080;
    left: 2%;
    top: 45px;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.Player{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#MenuIcon{
    transform: rotate(90deg);
}

.WatchMovieButton{
    position: absolute;
    top: 40%;
}

.MovieDetailsHolder{
    position: absolute;
    top: 50%;
    background: #00000080;
    border-radius: 20px 20px 0px 0px;
}

.DetailsDiv{
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.CloseIcon{
    position: absolute;
    background: #00000080;
    padding: 2%;
    border-radius: 50px;
    left: 45%;
    top: 0;
}